.app-wrapper,
.app-results,
.app-filter {
    overflow: auto;
    height: 100vh;
}

.app-filtergroup .btn-group-toggle {
    width: 100%;
}

.app-title {
    font-weight: normal;
    color: #666;
}

.app-title strong {
    color: #000;
}

.app-filtertitle {
    font-weight: bold;
    font-size: 15px;
}

.app-indicatormode .scholen-item-badge:not(.badge-danger){
    background: #ffc107 !important;
    color: #333 !important;
}

#show-title-opleiding,
#show-title-gemeente,
#show-indicator-leerlingen {
    display: none;
}

.app-indicatormode #show-indicator-leerlingen {
    display: inline-block;
}

.app-startscreen,
.app-loadingscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s opacity;
}

.app-startscreen-show,
.app-loadingscreen-show {
    opacity: 1;
    visibility: visible;
}

.app-filtergroup-disabled {
    opacity: 0.5;
}

.app-secundair #filter-opleiding,
#noresults {
    display: none;
}

.downloadExport {
    position: fixed;
    top: 20px;
    right: 0;
    width: 100px;
    height: 30px;
    background: red;
}

.card-school {
    border-color: rgba(0,0,0,.2) !important;
}

.secundairhoger .hideonsecundairhoger {
    display: none;
}
.showonsecundairhoger {
    display: none;
}
.secundairhoger .showonsecundairhoger {
    display: inline-block;
}
.closegemeentelist {
    position: absolute;
    top: 280px;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 9px;
    display: none;
}

.overlay {
    top:0;
    left:0;
    background:rgba(0,0,0,0.9);
    z-index: 1000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
}

.overlay.loading {
    opacity: 1;
    visibility: visible;
}

.ms-options-wrap,
.ms-options-wrap * {
  box-sizing: border-box;
  position: relative;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
  position: relative;
  width: 100%;
  text-align: left;
  display: inline-block;
  width: 100%;
  height: calc(2.875rem + 2px);
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ms-options-wrap > button > span {
  display: inline-block;
}

.ms-options-wrap > button[disabled] {
  background-color: #e5e9ed;
  color: #808080;
  opacity: 0.6;
}

.ms-options-wrap > button:after {
  content: ' ';
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  right: 8px;
  width: 10px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat;
}

.ms-options-wrap.ms-has-selections > button {
  color: #333;
}

.ms-options-wrap > .ms-options {
  position: absolute;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -1px;
  background: white;
  z-index: 2000;
  border: 1px solid #ced4da;
  overflow: auto;
  visibility: hidden;
  padding: 8px 4px;
}

.ms-options-wrap.ms-active > .ms-options {
  visibility: visible
}

.ms-options-wrap > .ms-options > .ms-search input {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px groove;
  outline: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
  display: inline-block;
  font-size: .9em;
  text-transform: lowercase;
  text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
  text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
  margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul,
.ms-options-wrap > .ms-options > ul > li.optgroup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.ms-options-wrap > .ms-options > ul li.ms-hidden {
  display: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
  padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
  border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
  display: block;
  padding: 5px 0 0 0;
  font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 4px 4px 28px;
  margin: 1px 0;
  border: 1px dotted transparent;
}
.ms-options-wrap > .ms-options.checkbox-autofit > ul label,
.ms-options-wrap > .ms-options.hide-checkbox > ul label {
  padding: 4px;
}

.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
  background-color: #efefef;
  border-color: #999;
}

.ms-options-wrap > .ms-options > ul li.selected label {
  background-color: #efefef;
  border-color: transparent;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
  margin: 0 5px 0 0;
  position: absolute;
  left: 4px;
  top: 7px;
}

.ms-options-wrap > .ms-options.hide-checkbox > ul input[type="checkbox"] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
